<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>Stories</title>
</head>
<body>
    <div class="container">
        <h1>Let's hear some stories!</h1>
        <div>
            <h3>Alex's Story</h3>
            <ul class="list-group">
                <li v-for="story in stories | filterBy 'Alex' in 'writer'" class="list-group-item">
                    {{$index+1}}. {{story.writer}} said "{{ story.plot }}"
                </li>
            </ul>
            <h3>John's Story</h3>
            <ul class="list-group">
                <li v-for="story in stories | filterBy 'John' in 'writer'" class="list-group-item">
                    {{$index+1}}. {{story.writer}} said "{{ story.plot }}"
                </li>
            </ul>
            <!-- <ul class="list-group">
                <li v-for="(index, story) in stories" class="list-group-item">
                    {{index}} {{ story.writer }} said "{{ story.plot }}"
               </li>
            </ul> -->
        </div>
        <!-- displays all data within Vue instance filtered through JSON -->
        <pre>{{ $data | json }}</pre>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '.container',
            data: {
                stories: [
                {
                    plot: "I crashed my car today!",
                    writer: "Alex"
                },
                {
                    plot: "Yesterday, someone stole my bag!",
                    writer: "John"
                },
                {
                    plot:  "Someone ate my chocolate...",
                    writer: "John"
                },
                {
                    plot:  "I ate someone's chocolate!",
                    writer: "Alex"
                }
                ]
            }
        })
    </script>
</body>
</html>